.services
  .content.clearfix
    %h1 Engineering
    .image.pull-right
      = image_tag('engineering.jpg')
    %p
      We offer a wide range of engineering services to our clients:
    %ul
      %li Voltage dip simulation test according to SEMI F-47 test
      %li Onsite power quality and inrush current measurement
      %li Energy audit and load monitoring
      %li Root cause analysis and mitigation solution
      %li Online earth fault detection and location
      %li Electrical safety test in accordance to IEC60601-1/IEC62353/DIN VDE 0751
      %li Infrared thermographic scanning for preventive maintenance and energy saving
      %li Comprehensive and non-comprehensive maintenance
      %li Testing and commissioning
:javascript
  document.title = 'Eetarp Engineering Group | Engineering';