.services
  .content.clearfix
    %h1 Training
    .image.pull-right
      = image_tag('training.jpg')
    %p
      We offer a wide range of training to our clients:
    %ul
      %li Theory, design and protection of IT (Ungrounded System) and TN/TT (Grounded System)
      %li Power Quality problems and the mitigation solutions
      %li Reactive power compensation and harmonics filter sizing
      %li Industrial stand communication and software design and application
:javascript
  document.title = 'Eetarp Engineering Group | Training';