.row.highlights#company
  %a.span3.up-down.one{ :href => "/company/your_trusted_partner" }
    .slide.default1
      .titlebox
      .title
        YOUR TRUSTED PARTNER
    .slide.onhover
      .link
        read more
        %i.icon-arrow-right.icon-white
  %a.span3.up-down.two{ :href => "/company/our_clientele" }
    .slide.default2
      .titlebox
      .title
        OUR CLIENTELE
    .slide.onhover
      .link
        read more
        %i.icon-arrow-right.icon-white
  %a.span3.up-down.three{ :href => "/company/careers_with_us" }
    .slide.default3
      .titlebox
      .title
        CAREERS WITH US
    .slide.onhover
      .link
        read more
        %i.icon-arrow-right.icon-white
  %a.span3.up-down.four{ :href => "/company/contact_us" }
    .slide.default4
      .titlebox
      .title
        CONTACT US
    .slide.onhover
      .link
        read more
        %i.icon-arrow-right.icon-white
:javascript
  $("a#company").addClass("active");
  document.title = 'Eetarp Engineering Group | Company';