.row.highlights#products
  %a.span3.up-down.one{ :href => "/products/algodue" }
    .slide.default1
    .slide.onhover
      .link
        read more
        %i.icon-arrow-right.icon-white
  %a.span3.up-down.two{ :href => "/products/atlantic_scientific" }
    .slide.default2
    .slide.onhover
      .link
        read more
        %i.icon-arrow-right.icon-white
  %a.span3.up-down.three{ :href => "/products/bender" }
    .slide.default3
    .slide.onhover
      .link
        read more
        %i.icon-arrow-right.icon-white
  %a.span3.up-down.four{ :href => "/products/cr_magnetics" }
    .slide.default4
    .slide.onhover
      .link
        read more
        %i.icon-arrow-right.icon-white
.row.highlights#products
  %a.span3.up-down.five{ :href => "/products/cybectec" }
    .slide.default5
    .slide.onhover
      .link
        read more
        %i.icon-arrow-right.icon-white
  %a.span3.up-down.six{ :href => "/products/fluke" }
    .slide.default6
    .slide.onhover
      .link
        read more
        %i.icon-arrow-right.icon-white
  %a.span3.up-down.seven{ :href => "/products/infratec" }
    .slide.default7
    .slide.onhover
      .link
        read more
        %i.icon-arrow-right.icon-white
  %a.span3.up-down.eight{ :href => "/products/nokian_capacitors" }
    .slide.default8
    .slide.onhover
      .link
        read more
        %i.icon-arrow-right.icon-white
.row.highlights#products
  %a.span3.up-down.nine{ :href => "/products/qualitrol" }
    .slide.default9
    .slide.onhover
      .link
        read more
        %i.icon-arrow-right.icon-white
  %a.span3.up-down.ten{ :href => "/products/vectek" }
    .slide.default10
    .slide.onhover
      .link
        read more
        %i.icon-arrow-right.icon-white
:javascript
  $("a#products").addClass("active");