.row.highlights#solutions
  %a.span3.up-down.one{ :href => "/solutions/electrical_safety" }
    .slide.default1
      .titlebox
      .title
        ELECTRICAL SAFETY
    .slide.onhover
      .link
        read more
        %i.icon-arrow-right.icon-white
  %a.span3.up-down.two{ :href => "/solutions/power_quality" }
    .slide.default2
      .titlebox
      .title
        POWER QUALITY
    .slide.onhover
      .link
        read more
        %i.icon-arrow-right.icon-white
  %a.span3.up-down.three{ :href => "/solutions/energy_management" }
    .slide.default3
      .titlebox
      .title
        ENERGY MANAGEMENT
    .slide.onhover
      .link
        read more
        %i.icon-arrow-right.icon-white
:javascript
  $("a#solutions").addClass("active");
  document.title = 'Eetarp Engineering Group | Solutions';