.solutions
  .content.clearfix
    %h1 ELECTRICAL SAFETY
    .image.pull-right
      = image_tag('safetysmall.jpg')
    %h3 Your electrical safety is our concern
    %p
      In almost all aspects of our daily life, safety is indispensable. Sadly, even for modern and advanced industries, a safe and reliable power supply is often taken for granted. Hazardous ground faults occur frequently in today’s electrical wiring. An insulation breakdown and power failure can jeopardize life and may cause massive financial loss to the company.
    %p
      There is a huge demand for reliable electrical safety systems which are able to diagnose even a miniscule electrical insulation breakdown before it causes problems to the entire power system.
    %p
      Our solutions are well suited in sensitive systems like data centers, highly automated manufacturing plants, wafer fabrication factories, power generation plants, oil rigs, FPSO, petrochemical plants, and hospitals.
    %h3 Benefits
    %p
      Maximum electrical safety and associated fault-free operating processes are our top priority. Having a reliable and safe electrical system brings several advantages to your organization. We provide early detection of potentially critical plant conditions, giving you greater operational reliability. Our capabilities in providing innovative measuring and monitoring systems have minimized power supply interruption, protected personnel and equipment against electrical hazards, and increased productivity.
    %h3 Solutions
    %p
      = succeed ',' do
        %a{ :href => "/products/bender" }Bender
      a world leader in electrical safety monitoring, offers complete solutions for:
    %h4 Unearthed power supplies (IT systems)
    %ul
      %li Patented AMP technology insulation monitoring devices, A-ISOMETER
      %li Online insulation fault location systems, EDS
    %h4 Earthed power supplies (TN/TT systems)
    %ul  
      %li AC/DC sensitive residual current monitor, type A and B according to IEC60755 and IEC62020
      %li Residual current monitoring system (RCMS)
    %h4 Medical systems
    %ul
      %li Isolated power supply according to IEC60364-7-710
      %li Switchover and monitoring modules
      %li Indicator and operator panels
      %li Distribution switchboards with and without online earth fault location system
      %li Medical grade isolation transformers
:javascript
  document.title = 'Eetarp Engineering Group | Electrical safety';