.solutions
  .content.clearfix
    %h1 ENERGY MANAGEMENT
    .image.pull-right
      = image_tag('energysmall.jpg')
    %h3 Your complete energy management service
    %p
      Energy consumption is one of the most significant costs in a company. With the escalating oil prices, many companies are now putting priority on managing their energy utilization and consequently improving their profit margin. Increasing awareness to reduce carbon footprint and the government incentives to implement Green Mark standards to reduce global warming have made energy management among the corporate responsibility goals set by many companies.
    %p
      We believe that good energy management begins with understanding how a consumer uses energy. Our role is to help your company achieve its goals in the most cost effective way by putting in place an energy management system.
    %h3 Benefits
    %p
      With the help of our team of experts, we will ensure that your company is making progress towards energy-saving targets and becoming more energy efficient. We are committed to assist your company in the following:
    %ul
      %li Allocation of energy resources
      %li Detection of abnormal energy consumption that may be due to faulty equipment
      %li Maximal utilization of the existing design
      %li Reduction of maximum energy demand
      %li Avoidance of over design in case of expansion
      %li Extension of equipment life through understanding the energy load
      %li Provision of automatic meter reading for sub-meter billing
    %h3 Solution
    %p
      Our company provides you with an Energy Management System which uses digital measurement technology consisting of an accurate energy meter with a powerful monitoring software and an automated reporting system.
    %p
      Our system is able to collect real-time information on energy consumption. This allows you to understand your company’s energy allocation and assists you in identifying inefficiencies in energy utilization in your company. It provides a report to inform you when and which areas in your site is using the highest power.