.solutions
  .content.clearfix
    %h1 POWER QUALITY
    .image.pull-right
      = image_tag('qualitysmall.jpg')
    %p 
      Power Quality is the set of limits of electrical properties that allows electrical systems to function in their intended manner without significant loss of performance or life.
    %h3 Your reliable provider of power quality
    %p
      Power Quality (PQ) is becoming an increasingly important issue in today’s world as we depend on reliable and continuous power supply for our daily activities. Poor power quality can cause significant power interruptions resulting in lower productivity and loss in revenue.
    %p
      “You can’t control what you don’t measure” is a well-known quote that many organizations apply in quality management. Here at Eetarp Engineering, we are dedicated to assist our clients to gain control over their power requirements through online monitoring and analysis of events as well as providing them with solutions to improve power quality.
    %h3 Benefits
    %p
      Monitoring is the best way to identify a premature power quality event. Both permanent and temporary monitoring options are available to meet our clients’ needs. We add value to your company in power quality monitoring through:
    %ul
      %li Measurement and analysis of your electrical system’s power quality conditions
      %li Provision of historical data of power quality events
      %li Reduction of downtime by identifying potential problems
      %li Root cause analysis of power quality events
      %li Pre-emptive solutions to overcome power quality events
    %h3 Solutions
    %p
      With more than a decade of experience, we can provide you with the right tools and solutions for your powerquality needs. We have capabilities to offer our clients a wide range of products and services ranging from portable PQ analyzers to permanent PQ monitoring systems including intelligent power meters and digital fault recorders. Our team of expert engineers can provide customized solutions and onsite support to ensure that power quality is according to IEC61000-4-30 standards resulting in increased mission-critical operations continuity, business savings, and overall facility reliability.
    %h4 Monitoring Solution:
    %h5 Permanent
    %ul
      %li Disturbance fault recorder (fully compliant with EMA’s transmission code)
      %li Travelling wave fault locator (highly accurate compared to traditional method)
      %li Integrated power quality monitoring systems with intelligent digital power meter
    %h5 Portable
    %ul
      %li Power Quality recorder/analyzer
    %h4 Mitigation Solution:
    %ul
      %li Reactive power compensation
      %li Active harmonic filter, real-time response
      %li Active voltage conditioner; ride through dips and swells
:javascript
  document.title = 'Eetarp Engineering | Power Quality';