.products
  .content.clearfix
    %h1 ALGODUE
    .image.pull-right
      = image_tag('algodue.jpg')
    %h3 Algodue Elettronica srl, Italy
    %p
      Algodue Elettronica have been active on the international market for several years they have acquired a wide experience both in customer care and solution providing.
    %p
      They steadily invest in new technology as well as in new solutions to enhance and increase the product range and to guarantee a service, both to keep up with the times.
    %p
      Thanks to the interplay of the wide range of products, their flexibility and the 20-years experience in the energy sector help us offer application-oriented solutions and achieve customer satisfaction.
    %ul
      %li High performance power quality meters with RS485 communication (Modbus, Profibus-DP, LON), TCP/IP, analogue and pulse outputs
      %li Accuracy according to EN62053
      %li Large graphic display for waveform capture, harmonics analysis, logging and Sags & Swells detection
      %li For billing, energy meter according to EN50470 with direct measurement or through 1/5A CT
:javascript
  document.title = 'Eetarp Engineering | Algodue';