.products
  .content.clearfix
    %h1 ATLANTIC SCIENTIFIC
    .image.pull-right
      = image_tag('asc.jpg')
    %h3 Atlantic Scientific Corporation, USA
    %p
      Atlantic Scientific Corporation was founded in 1977 and are the surge protection division of the MTL Instruments Group.
    %p
      Atlantic Scientific has extensive experience in the design and manufacture of surge protection devices for a wide range of applications. Their innovative patented technology has provided industry firsts in many areas. They developed the first five stage hybrid technology, the first modular snap-in and plug-in data protection, the first UL Certified Cat 5 compliant surge protectors, and the first customer configurable power protection platform designed with slide-in "mix and match" data protection modules for complete upgradable protection of all sensitive electronic equipment.
    %ul
      %li AC and DC surge protection for total facility protection with maximum surge capacity of up to 300kA per phase
      %li Surge protection devices for data, network, NTU, fire alarm, security, PLC, cable TV, digital satellite, video, etc
:javascript
  document.title = 'Eetarp Engineering Group | Atlantic Scientific';