.products
  .content.clearfix
    %h1 BENDER
    .image.pull-right
      = image_tag('bender.jpg')
    %h3 Dipl-Ing W Bender GmbH & Co KG, Germany
    %p
      For more than 60 years BENDER's objective has been to provide solutions for safe and secure power supplies, especially where high levels of safety are important. Using the latest technology, BENDER offers measuring, monitoring and protective systems to monitor the electrical safety of machines and systems in order to provide an early warning before critical operating conditions result in damage to property and interruptions to operations involving considerable costs or before the life and health of people is endangered. Complete testing systems to test the electrical safety of devices and systems, including data management software, supplement the product range. 
    %p
      The products cover a wide range of applications extending from building services engineering, hospitals through all types of industrial applications and power supply and distribution to traffic engineering.
    %ul
      %li A-ISOMETER insulation monitoring with earth-fault detection system (EDS)
      %li Isolated power system for hospital application
      %li Residual current monitoring for critical load
      %li Branch circuit current monitoring system for final circuit
      %li Touch control panel for operating theatre room
      %li Voltage, current, asymmetry, phase sequence and frequency relays
      %li Electrical safety tester for medical equipment according to IEC60601/IEC62353
      %li Electrical safety monitoring for photovoltaic system
:javascript
  document.title = 'Eetarp Engineering | Bender';