.products
  .content.clearfix
    %h1 CR MAGNETICS
    .image.pull-right
      = image_tag('crmagnetics.jpg')
    %h3 CR Magnetics, USA
    %p
      CR Magnetics is an American Company specialised in the manufacturing and distributing of current sensing problems devices.
    %ul
      %li AC and DC voltage transducers
      %li AC and DC current transducers
      %li Split core transducers
      %li AC/DC current switches
      %li AC/DC current or phase loss relays
      %li Display and indicators
