.products
  .content.clearfix
    %h1 CYBECTEC
    .image.pull-right
      = image_tag('cybectec.jpg')
    %h3 Cybectec Inc, Canada
    %p
      CYBECTEC is now part of Cooper Power System’s Energy Automation Solutions group. The Energy Automation Solutions group was created to provide comprehensive automation solutions that integrate both legacy and new transmission and distribution products.
    %p
      Cybectec was founded in 1980 to provide technical consulting services and to develop custom hardware and software systems. Since the beginning, Cybectec has provided its customers with solutions that meet the most demanding real-time and reliability requirements in a number of areas, including electrical power substation automation, integration, communication and instrumentation.
    %p
      Working with its clients in the power industry, Cybectec has developed families of products specially designed to assist utilities in modernizing their automation systems and integrating new intelligent electronic devices, with maximum return on investment.
    %p
      Cybectec solutions are already implemented in some of the largest utilities in North America. It has longstanding expertise in custom and consulting services, and an outstanding reputation for customer support, making it a leading player in the field of enterprise automation solutions for the power industry.
    %ul
      %li Substation modernization platform for the substation integration and automation
      %li Provides data encryption to meet NERC CIP requirements
      %li Provides complete control and a secure access point to IEDs via pass-through function
      %li Smart grid solutions via IEC61850 communication
      %li IEC60870-101/104 to OPC server protocol translator
      %li Customized Human Machine Interface (HMI), such as the visual T&D software for data acquisition and analysis