.products
  .content.clearfix
    %h1 FLUKE
    .image.pull-right
      = image_tag('fluke.jpg')
    %h3 Fluke Corp, USA
    %p
      Since its founding in 1948, FLUKE has helped define and grow a unique technology market, providing testing and troubleshooting capabilities that have grown to mission critical status in manufacturing and service industries. Every new manufacturing plant, office or facility built today represents another potential customer for Fluke products.
    %p
      From industrial electronic installation, maintenance and service, to precision measurement and quality control, Fluke tools help keep business and industry around the globe up and running. Typical customers and users include technicians, engineers, metrologists, and computer network professionals -- people who stake their reputation on their tools, and use tools to help extend their personal power and abilities.
    %p
      Fluke has achieved the number one or number two position in every market in which it competes. The Fluke brand has a reputation for portability, ruggedness, safety, ease of use and rigid standards of quality.
    %ul
      %li Power quality recorder fully comply with IEC61000-4-30 Class A
      %li Power quality analyzer with threshold trigger recording and transient recording features
      %li Power logger with compact and rugged design with more than 1 month recording
      %li High precision power analyzers
      %li Insulation and earth testers with stakeless testing
      %li Portable measuring tools like current clamp meter
:javascript
  document.title = 'Eetarp Engineering | Fluke';