.products
  .content.clearfix
    %h1 INFRATEC
    .image.pull-right
      = image_tag('infratec.jpg')
    %h3 InfraTec GmbH, Germany
    %p
      InfraTec was founded in 1991. Through many years' development and international experience, InfraTec can offer any advice for the configuration of your thermographic system, also provide you with thermographic solutions tailored to your special application, design solutions for industrial automation using thermographic systems, start with a detailed problem analysis up to the delivery of the turn-key solution and its maintenance.
    %p
      The excellent thermal and geometrical resolution, rugged user-friendly design, state-of-the-art digital technology, powerful image analysis, comprehensive equipment, good price/performance ratio and low operating costs are substantial advantages of the thermographic solutions offered by InfraTec.
    %ul
      %li Active thermography for non-destructive material testing
      %li Turnkey thermography automatic system for early fire detection in refuse incineration bunkers and quality control in automatic production process
      %li High-end thermography camera for industrial and medical research and development
      %li Predictive maintenance and building inspection
:javascript
  document.title = 'Eetarp Engineering | Infratec';