.products
  .content.clearfix
    %h1 NOKIAN CAPACITORS
    .image.pull-right
      = image_tag('nokiancap.jpg')
    %h3 Nokian Capacitors, Finland
    %p
      Nokian Capacitors Ltd. engineers and manufactures equipment and systems for reactive power compensation and harmonic filtering. The customers include housing and commercial premises, construction firms and industrial enterprises as well as companies engaged in the production, transmission and distribution of energy worldwide.
    %p
      The scope of Nokian Capacitors' 'products ranges from low and high voltage capacitoers and electronic equipment to air core reactors and compensation system.Products are used to reduce overall power consumption, to avoid the need for oversized power systems and to eliminate disturbances.
    %p
      With their products and expertise, customers see immediate cost savings and rapid repayment of the investment ,environmental benefits through saving energy and more efficient power system as well.
    %ul
      %li HV, MV, LV capacitor banks to improve transmission capacity and improve power factor
      %li Active and passive harmonics filters for harmonic filtering and power factor correction to improve power quality
      %li Air core reactor for current limiting, neutral earthing, shunt and other application
      %li Design according to IEC60871 (high voltage)/IEC60831 (low voltage)
:javascript
  document.title = 'Eetarp Engineering Group | Nokian Capacitors';