.products
  .content.clearfix
    %h1 QUALITROL
    .image.pull-right
      = image_tag('qualitrol.jpg')
    %h3 Qualitrol Corp, USA
    %ul
      %li Digital fault recorder (BEN6000 and IDM)
      %li Travelling wave fault locator
      %li Fault investigation and location software
      %li Performance measuring and monitoring device – QWave PMD-A fully compliant with IEC61000-4-30 Class A PQ monitoring