.products
  .content.clearfix
    %h1 VECTEK
    .image.pull-right
      = image_tag('vectek.jpg')
    %h3 Vectek, New Zealand
    %p
      Vectek Electronics specializes in the design and supply of high power electronic power converters for industrial, commercial and marine applications. The team of qualified and experienced design engineers ensure innovative power quality solutions match customer needs.
    %p
      Established in 1992, the company had a vision of building a company to develop a range of electronic power controls to solve power quality problems. Vectron Industries Ltd was incorporated in October 1995 with an added focus of designing and manufacturing leading edge inverter products. It was renamed Vectek Electronics Ltd to develop global markets for a new range of power quality and power conversion products.
    %ul
      %li Active voltage conditioner to protect against sensitive industrial loads with fast and accurate voltage correction
      %li Static transfer switch for automatic transfer to alternative supply
      %li Frequency/Shore power converter design to operate off any dock supply
:javascript
  document.title = 'Eetarp Engineering | Vectek';