.company {
  .title {
    background-image: url('title.jpg');
    width: 920px;
    height: 180px;
    padding: 10px;
    color: #0055bb;
    font-size: 50px;
    line-height: 50px;
    letter-spacing:-5px
  }

  .content {
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
  }

  a:hover {
    text-decoration: none;
  }
}

.company#contact_us {
  .malaysia {
    padding-top: 20px;
  }

  a:hover {
    text-decoration: none;
  }
}