@import "bootstrap";

body {
  background-color: #E4E4E4;
}

ul.navbar {
  position: relative;
  width: 100%;
  height: 79px;
  background: white;
  border: 1px solid #CBCBCB;
  margin: 20px 0 20px;
  list-style-type: none;
  height: 100%;

  li {
    line-height: 75px;
    width: 100px;
  }

  a.active {
    border-bottom: 5px solid #0055bb;
    height: 70px;
    background-color: #C2D0FF;
    color: white;
  }

  li, a {
    height:100%;
    display:block;
    text-decoration: none;
    text-align: center;
    color: #4F79FF;
    letter-spacing: 0px;
  }

  a:hover {
    border-bottom: 5px solid #0055bb;
    height: 70px;
  }
}

#brand {
  width: 260px;
  height: 75px;

  img {
    position: absolute;
    top: 8px;
    display:block;
  }

  a:hover {
    background: white;
    border: none;
    height: 100%;
  }
}

.theme-default .nivo-caption {
  strong {
    font-size: 18px;
  }
}

.highlights {
  color: white;
  font-size: 25px;
  line-height: 28px;
  margin-bottom: 20px;

  a {
    color: white;
  }

  a:hover {
    text-decoration: none;
  }

  i {
    margin: 9px 5px;
  }

  .span3 {
    height: 290px;
    letter-spacing:-2px;
    background-image: url('small.jpg');

    .titlebox {
      width: 220px;
      height: 86px;
      background-color: black;
      opacity: 0.4;
    }

    .title {
      width: 190px;
      padding: 15px;
      position: relative;
      top: -86px;
    }

    .link {
      background-color: black;
      padding: 0 15px 3px;
      position: relative;
      top: 0px;
    }
  }
}

.sitemap {
  margin-left: 0;
  background-color: #0055bb;
  color: #7293FF;

  #products, #services, #company, #contactus {
    border-left: 1px solid #6387FF;
  }

  #contactus {
    width: 176px;

    .title {
      color: white;
      font-size: 23px;
      padding: 0;
      line-height: 23px;
    }

    a {
      display: inline;
      font-size: 12px;
      color: #7293FF;
      padding: 0;
    }

    a:hover {
      text-decoration: none;
      color: white;
      background-color: inherit;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }
  }

  .span2 {
    height: 175px;
    padding: 15px;
    width: 116px;
    margin-left: 0;

    .title {
      color: white;
      font-size: 13px;
      padding-left: 5px;
      letter-spacing:0px;
    }

    a {
      display: block;
      padding-left: 5px;
      font-size: 11px;
    }

    a:hover {
      text-decoration: none;
      color: white;
      background-color: #6387FF;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
    }
  }
}

.footer {
  background-color: #6387FF;
  margin-left: 0;
  padding: 5px 0 5px;
  margin-bottom: 20px;
  color: #C8D5FF;
  font-size: 12px;
}