.highlights#home {
  
  .span3.one {
    background-image: url('trust.jpg');
  }

  .span3.two {
    background-image: url('solution.jpg');
  }

  .span3.three {
    background-image: url('products.jpg');
  }

  .span3.four {
    background-image: url('services.jpg');
  }
}

.highlights#solutions {
  
  .span3.one {
    background-image: url('safetysmall.jpg');
  }

  .span3.two {
    background-image: url('qualitysmall.jpg');
  }

  .span3.three {
    background-image: url('energysmall.jpg');
  }
}

.highlights#products {
  
  .span3.one {
    background-image: url('algodue.jpg');
  }

  .span3.two {
    background-image: url('asc.jpg');
  }

  .span3.three {
    background-image: url('bender.jpg');
  }

  .span3.four {
    background-image: url('crmagnetics.jpg');
  }

  .span3.five {
    background-image: url('cybectec.jpg');
  }

  .span3.six {
    background-image: url('fluke.jpg');
  }

  .span3.seven {
    background-image: url('infratec.jpg');
  }

  .span3.eight {
    background-image: url('nokiancap.jpg');
  }

  .span3.nine {
    background-image: url('qualitrol.jpg');
  }

  .span3.ten {
    background-image: url('vectek.jpg');
  }
}

.highlights#services {
  
  .span3.one {
    background-image: url('engineering.jpg');
  }

  .span3.two {
    background-image: url('training.jpg');
  }
}

.highlights#company {
  
  .span3.one {
    background-image: url('trust.jpg');
  }

  .span3.two {
    background-image: url('clientele.jpg');
  }

  .span3.three {
    background-image: url('career.jpg');
  }

  .span3.four {
    background-image: url('contact.jpg');
  }
}