.company
  .content.clearfix
    %H1 CAREERS WITH US
    .image.pull-right
      = image_tag('career.jpg')
    %p
      We ensure equal employment opportunities within an exciting and challenging working environment that allows each employee to reach their full potential.
    %Strong Current Vacancies:
    %ul
      %li Sales Engineers (for Singapore and Kuala Lumpur Office)
      %li Electrical Engineers (for Singapore and Kuala Lumpur Office)
    %Strong Qualification/Experience:
    %br
    %em for Sales Engineers
    %ul
      %li Diploma/Degree in Electrical or Electronics Engineering
      %li 1 – 2 years or more technical sales experience
    %em for Electrical Engineers
    %ul
      %li Diploma/Degree in Electrical or Electronics Engineering
      %li 1 – 2 years or more working experience in electrical engineering filed
    %p
      Please email your application together with recent photograph, resume and indicate your current and expected salaries to:
      = mail_to "hr@eetarp.com.sg"