.company
  .content.clearfix
    %H1 OUR CLIENTELE
    .image.pull-right
      = image_tag('clientele.jpg')
    %p
      Our products and services are used in a wide range of industries:
    %ul
      %li Hospitals
      %li Navy vessels and passenger cruise ships
      %li Oil and gas production platforms
      %li Petrochemical plants
      %li Oil refineries
      %li Power generation, transmission and distribution utilities
      %li Refuse incineration plants
      %li Mass rapid transit systems
      %li Mining industry
      %li Semiconductor plants
      %li Pharmaceutical and biochemical plants
      %li Military facilities
      %li Water treatment plants
      %li Telecommunications
      %li Data centers
      %li Facility management companies
      %li Switchboard manufacturers and system integrators
:javascript
  document.title = 'Eetarp Engineering Group | Our clientele';