.company
  .content.clearfix
    %h1 YOUR TRUSTED PARTNER
    .image.pull-right
      = image_tag('trust.jpg')
    %p
      Our organization, 
      = succeed ',' do
        %strong Eetarp Engineering Group
      is a renowned Singapore-based multi-national engineering company. From our humble beginnings in 1999, we have gained our clients' confidence by providing them with the latest technology and reliable solutions in the fields of 
      = succeed ', ' do
        %strong electrical safety
      = succeed ', ' do
        %strong power quality
      and 
      %strong
        energy management
      for their mission-critical and high-value investments.
    %p  
      We are committed in adding value to the supply chain between our clients
      and principals.
    %p
      Through long-term partnership with our principals, onsite experience, continuous training of our engineers, and investment in advanced tools and equipment, our clients can be assured that we understand their needs better. Our clients trust that the solutions we select are the most reliable, optimal, easy to operate and competitive. Site testing, commissioning time and maintenance cost will be reduced significantly as the solutions are designed based on the proven products available from our principals.
    %p
      %strong
        Our solutions
      are to help our clients maintain the highest level of electrical safety, reliable power supply quality and reduce energy consumption.
    %p
      We provide a whole range of products ranging from discrete devices to integrated solutions and from portable to permanently installed web-based monitoring and reporting, complete with data storage and database management systems to meet every unique requirement of our clients.
    %p
      %strong
        Our clients
      span the whole spectrum of industries from land-based data
      centers, hospitals, semiconductor manufacturing plants, power generation
      and electrical substations, commercial buildings, electrical vehicles, solar installations to offshore oil rigs, FPSO, cruise ships and naval ships.
    %p
      In return for our clients’ continued support, we share with them our knowledge and expertise by conducting regular classroom and onsite trainings as well as technical seminars.
    %p
      %strong
        Our vision
      of being a customer-focused, technology-driven and service-
      oriented company has given us the impetus to continuously improve and innovate.
:javascript
  document.title = 'Eetarp Engineering | Your trusted partner';