%ul.navbar.clearfix
  %li#brand.pull-left
    %a{:href => "/"}
      = image_tag('logo.png')
  %li#home.pull-left
    %a{ :href => "#" }
      SOLUTIONS
  %li#home.pull-left
    %a{ :href => "#" }
      PRODUCTS
  %li#profile.pull-left
    %a{ :href => "#" }
      SERVICES
  %li#settings.pull-right
    %a{ :href => "#" }
      COMPANY